<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ログイン</title>
</head>
<body>
<h1>ログイン</h1>
<h2>{{ index . "client_name" }}でログインします。</h2>
<form method="POST" action="/oauth/authorize">
    <div><label for="user_id">ユーザID: </label><input type="text" name="user_id" id="user_id"></div>
    <div><label for="password">パスワード: </label><input type="password" name="password" id="password"></div>
    <input type="hidden" name="client_id" value='{{ index . "client_id" }}'>
    <input type="hidden" name="redirect_uri" value='{{ index . "redirect_uri" }}'>
    <input type="hidden" name="state" value='{{ index . "state" }}'>
    <input type="hidden" name="scope" value='{{ index . "scope" }}'>
    <input type="hidden" name="csrf" value='{{ index . "csrf" }}'>
    <div><input type="submit" value="ログイン"></div>
</form>
</body>
</html>