[Unit]
Description=Famiphoto API Server
After=network.target

[Service]
ExecStart=/usr/bin/famiphoto_api
Restart=always
User=famiphoto
Group=famiphoto
EnvironmentFile=/etc/famiphoto/env

[Install]
WantedBy=multi-user.target
